<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322376422652-e2qjq9rqmpmmrhmhf11t94u1e7gtsp3a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322376422652-e2qjq9rqmpmmrhmhf11t94u1e7gtsp3a</string>
	<key>API_KEY</key>
	<string>AIzaSyD0IbIfWSM9_FuToZY5s08l7QKoCQ-kM5k</string>
	<key>GCM_SENDER_ID</key>
	<string>322376422652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.remedi.example</string>
	<key>PROJECT_ID</key>
	<string>remedi-example</string>
	<key>STORAGE_BUCKET</key>
	<string>remedi-example.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322376422652:ios:24d56c48073614c0b53379</string>
</dict>
</plist>